* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease; 
}

body, html {
  overflow: hidden;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 10vh);
  height: 100vh;
  background-color: #000;
}

canvas.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  text-align: center;
  z-index: 0;
}

.text {
  margin: 15px 15px;
  border: 3px solid #fff;
  border-radius: 7px;
  color: white;
  font: 75% Arial, sans-serif;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5px;
}

.tic-tac-toe {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid {
  border: 5px ridge #f00;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 4px;
  height: 80%;
  width: 80%;
  margin: auto;
  padding: 15px;
  transition: all 1.5s ease; 
}

.cell {
  height: 85%;
  border: 3px solid #0ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.cell:hover {
  border: 5px ridge #0f0;
}

.label {
  border: 3px double rgba(255, 0, 0, 1);
  font-size: 15%;
  width: 95%;
  color: white;
}

button {
  color: rgba(127, 255, 255, 0.75);
  background: transparent;
  outline: 2px solid #0ff;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
  border-radius: 7px;
}

button:hover {
  color: #fff;
  background-color: rgba(0, 255, 255, 0.5);
  padding: 10px 20px;
}

button:active {
  color: #000;
  background-color: rgba(0, 255, 255, 0.75);
}
